################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Music Player/Data/users.db
/Music Player/img/-logo.png
/Music Player/Music/TOOL/Fear Inoculum
